@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {
	background-image: url("https://jadecruzquinn.github.io/vs/pinksky_bg.png");
	background-size: cover;
	background-attachment: fixed;
	background-position: left top;
	margin-top: 25px;
	background-color: #d9c3f8;}

body, p, td, th, tr, h1, h2, h3, h4, h5, h6, h7 {color: #2E3440; font-family: IBM Plex Sans;}

a:link    {color: #4c566a; text-decoration: underline;}
a:hover   {color: #4c566a; text-decoration: underline;}
a:active  {color: #4c566a; text-decoration: underline;}
a:visited {color: #4c566a; text-decoration: underline;}

.t_thin_line {background-color: #d9c3f8}
.t_title_bar {background-image: url("https://jadecruzquinn.github.io/vs/pinksky_bg.png"); font-family: IBM Plex Sans; color: #2E3440;}
.t_header {background-image: url("https://jadecruzquinn.github.io/vs/pinksky_bg.png"); background-color: #d9c3f8); font-family: IBM Plex Sans; color: #2E3440;}
.t_info {background-color: #fefdf6; font-family: IBM Plex Sans; color: #2E3440;}
.t_dialog {background-color: #fefdf6; font-family: IBM Plex Sans; color: #2E3440;}
.t_posting {background-color: #fefdf6; font-family: IBM Plex Sans; color: #2E3440; padding: 10px;}

b {font-family: IBM Plex Sans; color: #2E3440; decoration: bold}
s {font-family: IBM Plex Sans; color: #2E3440;}

hr {background-color: #4c566a; border: 0px; height: 1px;}

table {
    border-spacing: 1px;
    border-color: #fefdf6;}

.urgent_emphasis {font-weight: bold; color: #d9c3f8;}
.urgent_emphasis A:link {font-weight: bold; color: #d9c3f8;}
.urgent_emphasis A:visited {font-weight: bold; color: #d9c3f8;}

blockquote.vs_quote {margin:20px; background-color: #fefdf6; padding: 12px; border-left: 3px solid; clear:both; font-size:80%;}
blockquote .vs_quote_author {padding-bottom: 14px; font-weight: bold; font-style: normal}

#selectionSharerPopover-inner {
  border-radius: 5px;
  border: 10px solid;
  border-color: #fefdf6;
  background-color: #fefdf6;
  background-repeat: repeat-x;}

#selectionSharerPopover:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -3px;
  left: 50%;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background: #fefdf6;
  box-shadow: 0 0 2px #fefdf6;}
