@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

body {background-image: url("https://jadecruzquinn.github.io/vs/pinksky_bg.png");background-size:cover}

body, p, td, th, h1, h2, h3, h4, h5, h6, h7 {color: #2E3440; font-family: IBM Plex Sans;}

a:link    {color: #4c566a; text-decoration: underline}
a:hover   {color: #4c566a; text-decoration: underline}
a:active  {color: #4c566a; text-decoration: underline}
a:visited {color: #4c566a; text-decoration: underline}

.t_thin_line {background-color: black}
.t_title_bar {background-image: url("https://jadecruzquinn.github.io/vs/pinksky_bg.png"); font-family: IBM Plex Sans; color: #2E3440;}
.t_header {background-color: #ffffff; opacity: 0.75; font-family: IBM Plex Sans; color: #2E3440;}
.t_info {background-color: #ffffff; opacity: 0.75; font-family: IBM Plex Sans; color: #2E3440}
.t_dialog {background-color: #ffffff; opacity: 0.75; font-family: IBM Plex Sans; color: #2E3440}
.t_posting {background-color: #ffffff; opacity: 0.75; font-family: IBM Plex Sans; color: #2E3440}

i {color: #D8DEE9}

hr {background-color: #4c566a; border: 0px; height: 1px;}
